html {
	scroll-behavior: smooth;
}

.min-vh-hero {
	min-height: calc(100vh - 56px) !important;
}

.container {
	padding: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

a.anchor {
	top: -56px;
	display: block;
	position: relative;
	visibility: hidden;
}